@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-slate-100;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-border rounded-full;
}
